<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<app-searchbar (searchEvent)="search($event)"></app-searchbar>
<google-map
  #googleMap
  width="100vw"
  height="100vh"
  [options]="mapOptions"
  [center]="center"
>
  <map-circle *ngIf="home" #circle [center]="home.position" [options]="circleOptions"></map-circle>
  <map-marker *ngIf="home" [options]="home.options" [position]="home.position"></map-marker>
  <map-marker *ngIf="center" [options]="myPositionMarkerOption" [position]="center"></map-marker>
</google-map>
